:root {
  --primary-text-color: #212121;
  --second-text-color: #2196F3;
  --white-color-text: #FFFFFF;
  --background-second-color: #2F303A;
  --background-first-color:  #E5E5E5;
  --background-therd-color: #F5F4FA;
  --card-set-gap: -30px;
 } 
/* -------------------------утилиты ----------------------------*/
 
 body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: #2a2a2a;
} 
ul {
  list-style: none;
  padding: 0;
  margin: 0; 
}
p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}
/* -----------------------hide content-------------------------- */
.hide { display: none; }

/*-----------------------flash menu----------------------------- */

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
.site-nav .link.current {
  color: #2196f3;
}

/* -----------------------button-------------------------------- */

 .container { 
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

 margin: 0 auto;
 /* outline: 1px solid tomato */

}

/* ------------logo------------ */ 
.line-header{
  
 border-bottom: 1px solid #ECECEC;
}

 .logo {
   /* margin-left: 215px;*/
   padding-right: 93px; 
 
   color: #2196F3 ;
   font-family: "Rolway", sans-serif;
   font-weight: bold;
   font-size: 26px;
   line-height: 1.20; 
   text-decoration: none;
 }
.studio {
  color: var(--primary-text-color);
}
 .link {
   display: block;

  text-decoration: none;
  color: #000;
  padding-top: 32px;
  padding-bottom: 32px; 
 }

/* ------------------site nav---------- */
.main-nav{
  display: flex;
  align-items: center;
  }

.site-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
   /* margin-left: 93px;  */
   

  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #757575;
}
.flex-center{
  display: flex;
  align-items: center;
}

   .item-nav{
   display: block; 
   display: flex;
   
   /* margin-right: 50px; */
   
}

/* .site-nav > .item-nav >.item-site:not(:last-child){
margin-left: 50px; 
} */
.site-nav .item-nav {
  margin-left: 50px;
 
}
 .item-site {
      display: flex;

      padding-top: 31px;
      padding-bottom: 31px;
      margin-left: 50px;
      }


/* .item-nav:not(:last-child)   */



/* -------------button-общая ---------------------*/

.hero-button{
display: block; 

margin-left: auto; 
margin-right: auto; 
  
font-weight: bold;
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.06em;
background: #F5F4FA;
}

.hero-button:focus 
.hero-button:hover{
  color: var(--white-color-text);
  background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}





/* ------------------------банер герой -----------------------------*/

.baner-color{
 background-color: var(--background-second-color); 
 /* height: 600px; */
 
  width: auto;
  display: block

  /* padding-top: 200px; */
  
  /* padding-bottom: 94px; */
  /* padding-top: 200px; */
  /* padding-bottom: 30px;  */
  }

.hero-baner {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 30px;
 

margin-left: auto;
margin-right: auto;

/* width: 696px;
height: 120px; */

font-weight: 900;
font-size: 44px;
line-height: 1.4;
letter-spacing: 0.06em;
text-transform: uppercase;
 color: var(--white-color-text); 
}

/* -------------------фишки компании-------------- */
.maim-section{
  display: flex;
  justify-content: center;
  
 }
.title-photo{
  padding-bottom: 50px;
 
}

.items-company{

font-size: 14px;
line-height: 1.1;
text-transform: uppercase;

padding: 0;
margin: 0;

display: flex;

margin-left: -30px;
margin-top: -30px;
}
.box-items {
flex-basis: calc(100%/4 - 30px);
margin-left: 30px;
margin-top: 30px;
}

.company-list{
  padding-bottom: 10px;

}
.items-text {
font-size: 14px;
line-height: 1.7;
color: #757575;
text-transform: none;
padding-bottom: 94px;
}
.maim-section{
font-weight: bold;
font-size: 36px;
line-height: 1.16;
}

.photo-list{
  display: flex;
  flex: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding-bottom: 94px;
 }

 .photo-box{
  width: 370px;
  /* height: 294px; */
  flex-basis: ((100% - 3*30px)/3);
  margin-left: 30px;
  margin-top: 30px;
 }

 /* -------------------stuf foto------------------ */

.stuf-block {
  display: flex;
  flex: wrap;

  padding: 0;
  margin: 0;

  margin-left: -30px;
  margin-top: -30px;

  padding-bottom: 94px;
  
 }
 
 .photo-stuf {
     
      /* display: block; */
      flex-basis: ((100% - 4*30px)/4);
      margin-left: 30px;
      margin-top: 30px;
      border-radius: 0px 0px 4px 4px;
  }
  
  .title-stuf{
  text-align: center;
  padding: auto;
 
  padding-top: 94px;
  padding-bottom: 50px ;
  }

  
.stuf-name {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.stuf-position {
text-align: center;
margin-bottom: 30px;
font-size: 16px;
line-height: 1.18;

}
/* --------------------подвал--------------------*/
 /*.adress-nav{
 text-decoration: none; 
}*/
.l-items{
  display: block;
  padding-top: 60px;
  padding-left: 215px;
}

.address-items{
  display: block;
  padding-top: 20px;
  padding-left: 215px;
  }

.malto-items{
  display: block;
  padding-top: 9px;
  padding-left: 215px;
}

.phone-items{
  display: block;
  padding-top: 9px;
  padding-left: 215px;
  padding-bottom: 60px;
}
.footer-address{
text-decoration: none; 
font-size: 14px;
line-height: 1.7;
color: var(--white-color-text);
}
.footer-mail{
text-decoration: none;  
font-size: 14px;
line-height: 1.7;
color: rgba(255, 255, 255, 0.6);
}
.footer-tel {
  text-decoration: none; 
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);

}
.footer-color{
  background-color: var(--background-second-color);
}
.studio-white{
  color: var(--white-color-text);
}

/* --------------------paje portfolio--------------------*/
/* Card set */

.card-set-button{
  display: flex;
  align-items: center;
  justify-content: center;
  /* outline: 1px solid transparent; */
  padding: 0;
  margin: 0;
  padding-bottom: 50px;
  padding-top: 94px;
 
 
 
}
.button-portfoli{
margin-right: 8px;
height: 38px;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
cursor: pointer;
background-color: #F5F4FA;
border-radius: 4px;
border: 1px solid transparent;

}
.button-all{
  width: 73px;
  

}
.button-veb {
    width: 128px;
 
}
.button-aplic {
  width: 145px;

}

.button-design {
  width: 103px;

}
.button-market{
  width: 130px;

}
 

.button-portfoli:hover
.button-button:focus {
  
  background-color:var(--second-text-color);
}

/* --------------------photo--------------------*/

.potfolio-items {

padding-top: 20px;

font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 2x;

}

.name-of-itens{
  padding-top: 4px;
  margin-bottom: 20px;

font-size: 16px;
line-height: 1.87;
color: #757575;
}

/* .container { 
  width: 1200px;
 padding-left: 15px;
 padding-right: 15px;
 margin: 0 auto;
background: yellowgreen;  */

.card-set {

padding: 0;
margin: 0;

display: flex;
flex-wrap: wrap;

margin-left: -30px;
margin-top: -30px;
}
.card-set> .item {
  
  flex-basis: calc(100%/3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}