:root {
  --primary-text-color: #212121;
  --second-text-color: #2196F3;
  --white-color-text: #FFFFFF;
  --background-second-color: #2F303A;
  --background-first-color:  #E5E5E5;
  --background-therd-color: #F5F4FA;
  --card-set-gap: -30px;
 } 

 
 body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: #2a2a2a;
} 
ul {
  list-style: none;
  /* padding: 0;
  margin: 0; */
}
/* утилиты */


 .container { 
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left:  auto;
  margin-right: auto;
}

/* ------------logo------------ */ 
 .logo {
   color: #2196F3 ;
   font-family: "Rolway", sans-serif;
   font-weight: bold;
   font-size: 26px;
   line-height: 1.20; 
   text-decoration: none;
 }
.studio {
  color: var(--primary-text-color);
}
 .link {

  text-decoration: none;
  color: #000;
 }

/* ------------------site nav---------- */
.main-nav{
  display: flex;
  align-items: center;
  
}
.site-nav {
  display: flex;
  
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #757575;

  }
   .item-nav{
   /* display: block; */
   display: flex;
   margin-right: 50px;
   padding-top: 31px;
  padding-bottom: 31px;
   }
 

    .item-site {

      display: flex;
      margin-right: 50px;
    }
} 
/* .item-nav:not(:last-child)   */



.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
.site-nav .link.current {
  color: #2196f3;
}

/* -------------button-общая ---------------------*/

.hero-button{
  
font-weight: bold;
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.06em;
background: #F5F4FA;
}

.hero-button:hover{
  color: var(--white-color-text);
  background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero-button:focus 




/* ---------банер герой -----------------------------*/
.baner-colorr{
  background-color: var(--background-second-color);
  
}
.hero-baner {

font-weight: 900;
font-size: 44px;
line-height: 1.4;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
text-align: center;
  /* color: var(--white-color-text);  */
}
  
 /* padding: 0;
  margin: 0; */ */

/* -------------------фишки компании-------------- */
.hide {
   display: none; }

.items-company{

font-size: 14px;
line-height: 1.1;
text-transform: uppercase;

padding: 0;
margin: 0;

display: flex;

margin-left: -30px;
margin-top: -30px;
}
.box-items {
flex-basis: calc(100%/4 - 30px);
margin-left: 30px;
margin-top: 30px;
}


.items-text {
font-size: 14px;
line-height: 1.7;
color: #757575;
text-transform: none;
}
.maim-section{

font-weight: bold;
font-size: 36px;
line-height: 1.16;
}
.about-work-photo{

}

.stuf-block {

}
.stuf-name {

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.stuf-position {
font-size: 16px;
line-height: 1.18;
}
/* --------------------подвал--------------------*/
 /*.adress-nav{
 text-decoration: none; 
}*/

.footer-address{
text-decoration: none; 
font-size: 14px;
line-height: 1.7;
color: var(--white-color-text);
}
.footer-mail{
text-decoration: none;  
font-size: 14px;
line-height: 1.7;
color: rgba(255, 255, 255, 0.6);
}
.footer-tel {
  text-decoration: none; 
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);

}
.footer-color{
  background-color: var(--background-second-color);
}
.studio-white{
  color: var(--white-color-text);
}

/* --------------------paje portfolio--------------------*/
/* Card set */

.card-set-button{
  outline: 1px solid transparent;
  padding: 0;
  margin: 0;
  display: flex;
}
.button-portfoli{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
cursor: pointer;
background-color: #F5F4FA;
}

.button-portfoli:hover
.button-button:focus {
  
  background-color:var(--second-text-color);
}

/* --------------------photo--------------------*/

.potfolio-items {

font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 2x;

}

.name-of-itens{
font-size: 16px;
line-height: 1.87;
color: #757575;
}

/* .container { 
  width: 1200px;
 padding-left: 15px;
 padding-right: 15px;
 margin: 0 auto;
background: yellowgreen;  */

.card-set {

padding: 0;
margin: 0;

display: flex;
flex-wrap: wrap;

margin-left: -30px;
margin-top: -30px;
}
.card-set> .item {
  
  flex-basis: calc(100%/3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}